$base-color: #49BBBD;

$gray-color: #5B5B5B;
$gray-color-light: #595959;
$gray-color-easy: #545567;
$gray-color-simple: #696984;
$gray-color-up: #5F5F7E;
$gray-color-super: #80819A;
$gray-color-warm: #B2B3CF;
$gray-color-pretty: #83839A;
$gray-bg: #5B5B5B;
$gray-bg-awesome: #DCE2EE;
$gray-bg-light: #626381;
$gray-bg-pretty: #83839A;
$gray-bg-pretty:#C2C2C2;
$gray-bg-expensive: #ADADAD;
$gray-bg-simple: #696984;
$gray-bg-perfecto: #D9D9D9;

$black-color-def: #000000;
$black-color: #252641;
$black-color-light: #595959;
$black-color-easy: #545567;
$black-color-best: #010514;
$black-color-pretty: #2D3436;
$black-bg-begin: #000000;
$black-bg-def: #252641;
$black-bg-strict: #252641;

$white-color: #FFFFFF;
$white-bg: #FFFFFF;
$white-bg-light: #FBFBFB;

$red-color-default: #D8587E;
$red-bg-light: #EE645B4D;

$orange-bg: #F48C06;
$orange-bg-def: #FF6F00;

$pink-bg-def: #FF8374;
$pink-bg-light: #F77766;

$brown-bg-def: #B45A1B;

$yellow-bg-def: #FFB300;
$yellow-bg-light: #FDCB6E;
$yellow-bg-pretty: #F48C064D;

$green-bg-def: #6DB4A7;

$violet-bg-def: #C583FF;

$lightslategrey-bg-def: #9DCCFF;

$green-color-easy: #49BBBD;
$green-color-light: #00CBB8;
$green-bg-light: #33EFA0;
$green-bg-easy: #49BBBD;
$green-bg-beautiful: #CCFABC;
$green-bg-legend: #55EFC4;
$green-bg-miracle: #49BBBD;
$green-bg-dream: #00CBB84D;


$blue-color-black: #525596;
$blue-color-dark: #2F327D;
$blue-bg-dark: #171b41;
$blue-bg-light: #23BDEE;
$blue-bg-shadow: #0d0f1c;
$blue-bg-small: #5B61EB;
$blue-bg-smoke: #3465E1;
$blue-bg-lightblue: #29B9E7;
$blue-bg-miracle: #5B72EE;
$blue-bg-incredible: #9DCCFF4D;

$lightblue-color-def: #00BCD4;
$lightblue-color-simple: #00A8FF;

$deepskyblue-color-def: #23BDEE;

$purple-color-def: #6C5CE7;
$purple-bg-def: #6C5CE7;