$base-color: #49BBBD;

$gray-color: #5B5B5B;
$gray-color-light: #595959;
$gray-color-easy: #545567;

$black-color: #252641;
$black-color-light: #595959;
$black-color-easy: #545567;

$white-color: #FFFFFF;
$white-bg: #FFFFFF;

$orange-bg: #F48C06

