@import './../../styles/font.scss';
@import './../../styles/variable.scss';
@import './../../styles/mixing.scss';

.btn-default{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: toRem(50);
  display: inline-block;
  width: auto;
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 80px;
  border: none;
  transition: color .25s linear, background-color .25s linear, border .25s linear;
  text-decoration: none;
  &__bg--def{
    color: $gray-color;
    background-color: rgba($white-color, 1);
    &:hover {
      color: $white-color;
      background-color: rgba($white-color, .3);
    }
  }
  &__bg--red{
    color: $white-bg;
    background-color: rgba($red-color-default, 1);
    &:hover {
      color: $white-color;
      background-color: rgba($red-color-default, .3);
    }
  }
  &__bg--blue{
    color: $white-bg;
    background-color: rgba($blue-bg-smoke, 1);
    &:hover {
      color: $white-color;
      background-color: rgba($blue-bg-smoke, .3);
    }
  }
  &__bg--green{
    color: $green-color-easy;
    border: 1px solid $green-bg-easy;
    &:hover {
      color: $white-color;
      border: 1px solid rgba($green-bg-easy, .3);
      background-color: rgba($green-bg-easy, .3);
    }
  }
  &__bg--transparent{
    color: $white-bg;
    border: 1px solid $white-bg;
    background-color: transparent;
    &:hover{
      border: 1px solid $deepskyblue-color-def;
      background-color: rgba($deepskyblue-color-def, .8);
    }
  }
  &--small{
    padding: toRem(12) toRem(45);
    font-size: toRem(20);
    line-height: toRem(27);
  };
  &--middle{
    line-height: toRem(33);
    font-size: toRem(23);
    padding: toRem(15) toRem(45);
    max-height: toRem(60);
  };
  &--large{
    line-height: toRem(36);
    font-size: toRem(24);
    padding: toRem(22) toRem(45);
    max-height: toRem(80);
  }
}

@media screen and (max-width: 768px){
  .btn-default{
    &--middle{
      font-size: toRem(20);
      padding: toRem(13) toRem(40)
    };
  }
}