@import './../../styles/font.scss';
@import './../../styles/variable.scss';
@import './../../styles/mixing.scss';

.btn-default{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: toRem(50);
  display: inline-block;
  width: auto;
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgba($white-color, 1);
  color: $gray-color;
  border-radius: 80px;
  border: none;
  transition: color .25s linear, background-color .25s linear;
  &:hover {
    color: $white-color;
    background-color: rgba($white-color, .3);
  }
  &--small{

  };
  &--middle{
    line-height: toRem(33);
    font-size: toRem(23);
    padding: toRem(15) toRem(45);
    max-height: toRem(60);
  };
  &--large{
    line-height: toRem(36);
    font-size: toRem(24);
    padding: toRem(22) toRem(45);
    max-height: toRem(80);
  }
}

@media screen and (max-width: 768px){
  .btn-default{
    &--middle{
      font-size: toRem(20);
      padding: toRem(13) toRem(40)
    };
  }
}