# dependencies app
/app/node_modules
/app/.pnp
.pnp.js
.idea

# testing
/app/coverage

# next.js
/app/.next/
/app/out/

# production
/app/build

# misc
/app/.DS_Store
/app/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
/app/.env.local
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local

# vercel
.vercel


# compiled output server
/server/dist
/server/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
/server/.DS_Store

# Tests
/server/coverage
/server/.nyc_output

# IDEs and editors
/server/.idea
/server.project
/server.classpath
/server.c9/
/server*.launch
/server.settings/
/server*.sublime-workspace

# IDE - VSCode
/server/.vscode/*
/server/!.vscode/settings.json
/server/!.vscode/tasks.json
/server/!.vscode/launch.json
/server/!.vscode/extensions.json
