@import "../../styles/font.scss";
@import "../../styles/variable.scss";
@import "../../styles/mixing.scss";

.software{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header{
    padding-bottom: toRem(100);
  }
  &__cards{
    display: flex;
    column-gap: toRem(60);
    justify-content: center;
  }
}

.software-card{
  background: $white-bg;
  box-shadow: 0px toRem(10) toRem(60) rgba(38, 45, 118, 0.08);
  border-radius: toRem(20);
  padding: 0  toRem(55) toRem(50) toRem(55);
  max-width: toRem(450);
  min-width: toRem(300);;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__picture{
    transform: translateY(-50%);
    margin: 0 auto;
  }
  &__h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: toRem(30);
    line-height: toRem(45px);
    text-align: center;
    color: $blue-color-dark;
    padding-bottom: toRem(24);
  }
  &__span{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: toRem(20);
    line-height: toRem(36);
    text-align: center;
    color: $gray-color-simple;
  }
}

@media screen and (max-width: 1024px){
  .software{
    &__cards{
      flex-wrap: wrap;
      row-gap: toRem(80);
    }
  }
}