@import "../../styles/font.scss";
@import "../../styles/variable.scss";
@import "../../styles/mixing.scss";

.presentation{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  grid-column-gap: toRem(45);
  padding-left: toRem(33);
  &__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__right{
    display: grid;
  }
  &__h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: toRem(54);
    line-height: toRem(81);
    margin-bottom: toRem(34);
    color: $white-color;
    &--first{
      color: $orange-bg;
    }
  }
  &__desc{
    font-family: 'Nunito', sans-serif;
    color: $white-color;
    font-weight: 400;
    font-size: toRem(24);
    margin-bottom: toRem(52);
  }
  &__basement{
    display: flex;
    align-items: center;
    column-gap: toRem(40);
  }
  &__play{
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    column-gap: toRem(32);
  }
  &__play-area{
    width: toRem(80);
    height: toRem(80);
  }
  &__namespace{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: toRem(24);
    line-height: toRem(36);
    color: $black-color;
    white-space: nowrap;
  }
  &__card-messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card-message{
  display: inline-block;
  backdrop-filter: blur(10px);
  background-color: rgba($white-bg, .8);
  border-radius: toRem(20);
  padding: toRem(25) toRem(28);
  align-self: baseline;
  &__frame{
    display: flex;
    column-gap: toRem(10);
  }
  &__images{
    object-fit: contain;
  }
  &__desc{
    display: flex;
    flex-direction: column;
  }
  &__h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: toRem(24);
    color: $gray-color-light;
  }
  &__span{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: toRem(18);
    color: $gray-color-easy;
  }
  &__btn-wrapper{
    padding-top: toRem(20);
  }
  &:nth-child(1) {
    margin-bottom: toRem(95);
  }
  &:nth-child(2) {
    margin-bottom: toRem(30);
    align-self: flex-end;
  }
}

@media screen and (max-width: 1024px) {
  .presentation{
    grid-column-gap: 0;
    display: flex;
    flex-direction: column;
    row-gap: toRem(40);
    &__left{
      flex-grow: 1;
    }
    &__right{
      flex-grow: 1;
    }
  }
  .card-message{
    &:nth-child(1) {
      margin-bottom: toRem(45);
    }
    &:nth-child(2) {
      margin-bottom: toRem(15);
    }
  }
}

@media screen and (max-width: 768px) {
  .presentation{
    &__basement{
      flex-wrap: wrap;
      justify-content: center;
      row-gap: toRem(34);
    }
    &__play{
      justify-content: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .presentation{
    margin-top: toRem(20);
    &__h1{
      font-size: toRem(45);
      line-height: toRem(60);
      margin-bottom: toRem(25);
    }
    &__desc{
      font-size: toRem(20);
      margin-bottom: toRem(40);
    }
  }
}