@import "./../../styles/variable.scss";
@import "./../../styles/font.scss";
@import "./../../styles/mixing.scss";

.home{
  height: 100vh;
  max-height: 1120px;
  margin: 0;
  position: relative;
  overflow: hidden;
  &__sheet{
    height: 100%;
    width: 120%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0 0 50% 50% / 0 0 200px 200px;
    background-color: $base-color;
    right: -10%;
    left: -10%;
  }
  &__main{
    height: 100%;
    position: relative;
    left: -10px;
    right: -10px;
  }
  &__img-bg{
    position: absolute;
    right: 15%;
    bottom: 0;
  }
}