@import './../../styles/font.scss';
@import './../../styles/variable.scss';
@import './../../styles/mixing.scss';

.scan{
  position: relative;
  padding: toRem(80) 0;
  overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($green-bg-easy, .6);
    z-index: 1;
  }
  &__bg{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: contain;
    transform: translateY(-50%);
  }
  &__area{
    position: relative;
    z-index: 2;
    max-width: toRem(1320);
    margin: 0 auto;
  }
}