@import "../../styles/font.scss";
@import "../../styles/variable.scss";
@import "../../styles/mixing.scss";

.panel{
  position: relative;
  padding-top: toRem(30);
  &__toolbar{
    display: grid;
    align-items: center;
    column-gap: toRem(20);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "login nav auth";
  }
  &__login{
    background-image: url("../../public/login.png");
    width: toRem(114);
    height: toRem(83);
    background-size: cover;
  }
  &__login-link{
    grid-area: login;
  }
  &__position{
    flex-grow: 4;
    grid-area: nav;
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__link{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: toRem(22);
    line-height: toRem(33);
    max-height: toRem(60);
    padding: toRem(12);
    color: $white-color;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin: 0 toRem(5);
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $white-color;
      transform: scale(0, 1);
      transition: transform .25s linear;
    }
    &:hover{
      &::before{
        transform: scale(1, 1);
      }
    }
  }
  &__auth{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: toRem(25);
    flex-grow: 1;
    padding-left: toRem(12);
    grid-area: auth;
  }
  &__mobile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: mobile;
  }
  &__hamburger{
    width: toRem(45);
    height: toRem(30);
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: none;
    &--x{
      &> span:nth-child(1){
        transform-origin: top right;
        transform: rotate(-45deg) translateY(-10%);
      }
      &> span:nth-child(2){
        opacity: 0;
      }
      &> span:nth-child(3){
        transform-origin: bottom right;
        transform: rotate(45deg) translateY(-10%);
      }
    }
  }
  &__hamburger-row{
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: $white-bg;
    transform: translateY(-50%);
    transition: all 0.5s;
    &:nth-of-type(1){
      top: 0;
    }
    &:nth-of-type(2){
      top: 50%;
    }
    &:nth-of-type(3){
      top: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .panel{
    &__toolbar{
      grid-template-areas: "login auth mobile";
    }
    &__nav{
      flex-direction: column;
    }
    &__mobile{
      display: flex;
    }
    &__auth{
      justify-content: center;
      padding-left: 0;
    }
    &__hamburger{
      display: block;
    }
    &__position{
      position: fixed;
      top: 0;
      left: -100%;
      bottom: 0;
      min-width: 250px;
      max-width: 400px;
      width: 100%;
      transition: left .25s linear;
      background-color: $base-color;
      z-index: 10;
      box-shadow: 5px 0 5px -2px $gray-color;
      &--open{
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 425px){
  .panel{
    &__toolbar{
      row-gap: toRem(20);
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "login mobile" "auth auth";
    }
    &__position{
      max-width: 250px;
    }
  }
}

